@media screen and (max-width: 1200px) {
  /*Normal Screen*/

  .navbar {
    width: 100%;
    height: 100px;
  }
  ul {
    margin-left: 30px;
  }
  ul li {
    margin-left: 60px;
  }
  ul li a {
    font-size: 1.6vw;
  }
  .about {
    width: 100%;
  }
  .about h1,
  .about span {
    font-size: 4.5vw;
  }
  .about .para {
    width: 90%;
    font-size: 1.5vw;
  }
  .about a {
    font-size: 1.6vw;
  }
}

@media screen and (max-width: 830px) {
  /*For tablet*/

  .about {
    margin-top: 120px;
    width: 80%;
    margin-left: 40px;
  }
  .about h1,
  .about span {
    font-size: 6vw;
  }
  .about .para {
    width: 90%;
    font-size: 12px;
  }
  .about a {
    font-size: 2vw;
  }
  .logo {
    margin-left: 240px;
    width: 100%;
    margin-top: 15px;
    font-size: 5vw;
  }
  .menu {
    width: 100%;
  }
  ul {
    margin-top: -5px;
    margin-left: 5px;
  }
  ul li {
    margin-left: 60px;
  }
  ul li a {
    font-size: 2vw;
  }

  .main {
    padding-left: 20px;
    height: 180vh;
  }
}

@media screen and (max-width: 600px) {
  /*IPAD*/

  .about {
    margin-top: 80px;
    margin-left: 20px;
  }

  .logo {
    margin-left: 180px;
    font-size: 4vw;
  }
  ul {
    margin-top: -25px;
    margin-left: -5px;
  }
  ul li {
    margin-left: 50px;
  }
  ul li a {
    font-size: 2vw;
  }
}

@media screen and (max-width: 450px) {
  /*mobile*/
  .main {
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
  }
  .logo {
    margin-left: 140px;
    font-size: 4vw;
  }
  ul {
    margin-top: -25px;
  }
  ul li {
    margin-left: 42px;
  }
  ul li a {
    font-size: 2vw;
  }
}
